@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1280px;
  color: #333333;
}

/* ********************************** */
/* ****** 네비 바 ************ */
/* ********************************** */

.nav{
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid rgb(0, 0, 0);
  margin: 1rem 2rem;
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
}
.nav-main{
  list-style: none;
  padding: 0;
  margin: 1rem;
  text-decoration: none;
}
.nav-list{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 1rem;
  text-decoration: none;
  ;
}
.nav-items{
  text-decoration: none;
  margin: 1rem; 
}
.nav-items:hover{
  color: rgb(32, 32, 204);
}

/* ********************************** */
/* ******** 배너 사진 ******************** */
/* ********************************** */

.main-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../assets/apparel.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin: 2rem;
}

/* ********************************** */
/* ******** 배너 사진 ******************** */
/* ********************************** */